.iSkills{

}
    #doughnut{
      position: absolute;
    }
    #skill1{
      position: relative;
    }

    #doughnut2{
        position: absolute; 
    }
    #skill2{
        position: relative;
    }
    #doughnut3{
        position: absolute; 
    }
    #skill3{
        position: relative;
    }
    #doughnut4{
        position: absolute; 
    }
    #skill4{
        position: relative;
    }
    #doughnut5{
        position: absolute; 
    }
    #skill5{
        position: relative;
    }
    #doughnut6{
        position: absolute; 
    }
    #skill6{
        position: relative;
    }
    #doughnut7{
        position: absolute; 
    }
    #skill7{
        position: relative;
    }
    #doughnut8{
        position: absolute; 
    }
    #skill8{
        position: relative;
    }
    #doughnut9{
        position: absolute; 
    }
    #skill9{
        position: relative;
    }